* ::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.ant-drawer .ant-drawer-body {
  padding: 0 !important;
}

.ant-card .ant-card-body {
  padding: 0 !important;
}

